<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li class="p-name">
          	{%- include social.html -%}
          </br>
          <li class="p-name">
            <p>All tasks and writeups are copyrighted by their author. All images and the logo are copyrighted by me. If you would like to use them, please contact me :)</p>
        </ul>
    </div>

  </div>

</footer>
